/* Variables */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --silver: #5f6368;
    --darkGrey: #282d35;
    --lightGrey: #F0F0F0;
    --blue: #0284C7;
    --darkBlue: #025c99;
    --lightBlue: #d0ecff;
    --darkOrange: #ff8000;
    --red: #EF4444;
    --darkRed: #c42323;
    --lightRed: #fbbfbf;
    --green: #078F22;

    --mainFont: "Jost", sans-serif;

}

/* Basic */
*, *:before, *:after {
    box-sizing: inherit;
}

html {

    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;

    font-family: var(--mainFont);
    padding: 0;
}

body {
    background-color: var(--lightGrey);
    margin: 0;

    /* Header Sticky */
    position: relative;
    padding-top: 140px;
    
}

main {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
    text-align: center;
}

h3, h4 {
    font-size: 30px;
}

a {
    color: var(--white);
    text-decoration: none;

}

/* Helpers */

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.c-blue {
    color: var(--blue);
}

.c-orange {
    color: var(--darkOrange);
}

.c-red {
    color: var(--red);
}


.c-green {
    color: var(--green)
}

.text-center {
    text-align: center;
}

.ellipsis-2 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.ellipsis-4 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.mt-20 {
    margin-top: 20px;
}

.m-0 {
    margin: 0!important;
}

.alert {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: var(--white);
    font-weight: 700;
}

.alert-success {
    background-color: var(--green);
    
}

.alert-error {
    background-color: var(--darkRed);

}



/* Header */

.header {
    /* Header Sticky */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 50px;
    background-color: var(--darkBlue);
    box-shadow: 0 0 15px 3px var(--black),
    0 0 10px var(--blue) inset;
}

.header__heading {
    color: var(--darkOrange);
}

.header__nav {
    display: flex;
    padding: 10px 20px 0 20px;
    gap: 30px;
    margin: 0;
    border-top: 1px dashed var(--white);
}

.header__name {
    color: var(--darkOrange);
}

.header__nav-link {
    color: var(--white);
    transition: color .3s ease;
}

.header__nav-link--activo {
    color: var(--darkOrange);
}

.header__nav-link:hover {
    color: var(--darkOrange);
}

/* Listings Index */

.listings__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 80px;
}

.listings__empty {
    font-size: 25px;
    border: 1px solid var(--silver);
    color: var(--silver);
    padding: 30px;
    width: 100%;
    margin: 50px 0;
    text-align: center;
}

.listing__sold {
    font-size: 25px;
    border: 1px solid var(--green);
    color: var(--green);
    padding: 30px;
    width: 100%;
    margin: 50px 0;
    text-align: center;
}

.listings__item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 30px;
    border: .5px solid var(--silver);
    padding: 20px;
    color: var(--black);
    min-height: 325px;
    transition: border .3s ease, box-shadow .3s ease, color .3s ease;
}

.listings__item:hover {
    border: .5px solid var(--darkOrange);
    box-shadow: 0 0 5px var(--darkOrange) inset;
}

.listings__item h3 {
    margin-bottom: 30px;
    font-size: 30px;
    color: inherit;
    transition: color .3s ease;
}

.listings__item:hover h3 {
    color: var(--darkOrange);
}

.listings__img-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.listings__img--icon {
    width: 100px;
}

.listings__img {
    max-width: 450px;
    max-height: 280px;
}

.listings__opts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}


/* Listings Show */

.listing-show__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 30px;
}

.listing-show__item {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 30px;
    background-color: var(--white);
    color: var(--black);
    position: relative;
    z-index: 0;

}

.listing-show__watch {
    position: absolute;
    top: 60px;
    left: 60px;

}

.listing-show__watch img {
    width: 40px;
}

.listing-show__watch button {
    background-color: white;
    border: none;
    cursor: pointer;
}


.listing-show__watch button:hover {
    background-color: white;
    border: none;
}

.listing-show__edit {
    position: absolute;
    top: 60px;
    left: 60px;
    background-color: var(--blue);
    font-weight: 700;
    padding: 5px 30px;
    border: 1px solid var(--darkBlue);
    text-transform: uppercase;
    transition: background-color .3s ease, border .3s ease;
}

.listing-show__edit:hover {
    background-color: var(--darkBlue);
    border: 1px solid var(--blue);
    cursor: pointer;
}

.listing-show__img-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.listing-show__img {
    max-width: 600px;
}

.listing-show__img--icon {
    width: 100px;
}

.listing-show__opts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px var(--silver);
    border: .5px solid var(--silver);
}

.listing-show__opts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    height: 100%;
    background-color: var(--white);
    padding: 30px;
}

.listing-show__item h3 {
    font-size: 30px;
    color: inherit;
    transition: color .3s ease;

}

.listing-show__price {
    text-align: center;
    font-weight: 700;
    color: var(--darkOrange);
    font-size: clamp(20px, 70px, 70px);    /* <<<<<<< */
}

.listing-show__bind {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.listing-show__bind input {
    height: 100%;
    width: 120px;
    font-size: 18px;
    text-align: center;
}

.listing-show__bind button {
    margin: 0;
}

.listing-show__closed {
    color: var(--red);
    text-align: center;
    font-size: 22px;
    background-color: var(--lightRed);
    padding: 5px 0;
    border-left: 4px solid var(--red)
}

.listing-show__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    padding: 20px;
    background-color: var(--white);
    color: var(--black);
}

.listing-show__details h4, ul {
    margin: 0 0 10px 0;
    list-style-type: none;
    padding: 0;
}
.listing-show__details li {

}

.listing-show__comments {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--white);
    color: var(--black);

}

.listing-show__comment-form {
    margin: 0!important;
    width: 100%!important;
    box-shadow: none!important;
    padding: 20px 20px!important;
}

.listing-show__comment-form button{
    width: fit-content;
}

/* Categories Index */

.categories__container {
    padding: 40px;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

.categories__container span {
    font-weight: 700;
    font-size: 25px;
}

.categories__container li {
    border: 1px solid var(--silver);
    padding: 10px 0;
    text-align: center;
    color: var(--black);
    transition: all .3s ease;
}

.categories__container li:hover {
    border: 1px solid var(--blue);
    color: var(--blue);
    background-color: var(--lightBlue);
}



/* Auth */

.form {
    margin: 50px auto;
    box-shadow: 0 0 10px var(--silver);
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.form input, textarea, select {
    font-family: var(--mainFont);
    font-size: 18px;
    padding: 10px;
    width: 100%;
}

.form label {
    font-size: 18px;
    margin-top: 20px;
}

.form__checkbox {
    width: 30px;
    height: 30px;
    margin-top: -38px;
    margin-left: -80px;
}

.form__opts {
    color: var(--silver);
    text-align: center;
    margin-top: 40px;
    transition: color .3s ease;
}

.form__opts:hover {
    color: var(--darkOrange);
}

.form__error {
    color: var(--darkRed);
    margin-left: 50px;
}


/* Errors */

.errorlist {
    color: var(--red);
    background-color: var(--lightRed);
    padding: 10px;
    border-left: 4px solid var(--red);
}


/* Other */

.btn-cont-left {
    display: flex;
    justify-content: end;
}

.btn {
    margin-top: 20px;
    padding: 8px 25px;
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    font-size: 22px;
    border: 1px solid var(--darkBlue);
    text-transform: uppercase;
    transition: background-color .3s ease, border .3s ease;
}
.btn:hover {
    background-color: var(--darkBlue);
    border: 1px solid var(--blue);
    cursor: pointer;
}

.btn-red {
    background-color: var(--red);
    width: 100%;
    border: 1px solid var(--darkRed);
}

.btn-red:hover {
    background-color: var(--darkRed);
    border: 1px solid var(--red);

}

.error-page__msj {
    font-size: 26px;
    
    >span {
        font-weight: 700;
    }


}

